@font-face {
  font-family: 'UTM-AvoBold';
  src: url("./Font/UTM-AvoBold.ttf") format("truetype");
}

@font-face {
  font-family: 'UTM-AvoBold_Italic';
  src: url("./Font/UTM-AvoBold_Italic.ttf") format("truetype");
}

body {
  // Check SpinWheel.vue
  font-family: 'UTM-AvoBold' !important;

  $background-color: #ffffff;

  background: $background-color;
  background: url('background.jpg') no-repeat fixed center;
  background-attachment: fixed;

  margin: 0;

  /**
    * When a dialog modal is triggered, this value is used to hide the scrollbar and add a margin-right to the body.
    * This fix is necessary when using ScrollPanel and there is no scrollbar width.
    */
  --scrollbar-width: 0 !important;
}

.p-tooltip {
  font-family: 'UTM-AvoBold_Italic';
  font-size: 0.75rem;
  text-align: center;
  font-weight: 700;
}

:not(li) > a {
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
